<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>yt-pause-on-blur</title>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_white.min.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_black.min.css" media="(prefers-color-scheme: dark)">
</head>
<body>
  <main>
    <h1>yt-pause-on-blur</h1>
    <p>When activated on YouTube.com, this bookmarklet will pause the video when you switch to a different tab or window. It resumes the video when you return.</p>

    <h2>Install</h2>
    <p>Drag this link to your bookmarks toolbar: <a href="javascript:{{code}}">yt-pause-on-blur</a></p>

    <h2>Activate</h2>
    <p>Assuming the bookmarklet has been installed,</p>
    <ol>
      <li>Go to a video on YouTube.com</li>
      <li>Click yt-pause-on-blur in your bookmarks toolbar. Note the black box that appeared at the bottom left of the window.</li>
      <li>Switch away from and back to the YouTube tab.</li>
    </ol>

    <h2>Deactivate</h2>
    <p>Do one of:</p>
    <ul>
      <li>Click the "Off" button in the bottom left corner, <strong>or</strong></li>
      <li>Reload the page</li>
    </ul>
  </main>

</body>
</html>
